html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 400px;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 400px;
    padding-top: 300px;
    margin-left: 50px;

}

.display{
    width: 400px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: right;
}
.calc-btn{
    color: black;
    width: 100px;
    height: 100px;
    border: 1.5px solid black;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    font-weight: bolder;
}

.c{
    width: 200px;
}

.zero{
    width: 300px;
}

.operations{
    background-color: chocolate;
    color: white;
}
.btn-text{
    padding-top: 5px;
    font-size: 35px;
}

.display-text{
    padding-right: 2px;
    font-size: 50px;
}