.signatures{
    display: flex;
    padding-left: 100px;
    padding-top: 100px;
}

.subscription{
    text-align: center;
    width: 600px;
    height: 400px;
    background-color: #e9e9e9;
    margin-right: 10px;
    border-radius: 5px;
}

.title{
    font-size: 24px;
    font-weight:bold;
}

.price{
    font-size: 40px;
    font-weight: bolder;
}

.icon{
    width: 16px;
    height: 16px;
}
button{
    padding: 10px;
    background-color: #ff7518;
    border-radius: 7px;
    border: solid #ff7518;
    color: white;
}